[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
aiohttp = "*"
pytest-aiohttp = "*"
python-dotenv = "*"
apscheduler = "*"
aiopg = "*"
sqlalchemy = "*"
alembic = "*"
psycopg2-binary = "*"
websockets = "*"
pydantic = "*"
simplejson = "*"
fastapi = "*"
httpx = "*"

[requires]
python_version = "3.10"

[dev-packages]
flake8 = "*"
