[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
aiohttp = "*"
pytest-aiohttp = "*"
python-dotenv = "*"
apscheduler = "*"
round-utils = "2.0.1"
aiopg = "*"
sqlalchemy = "*"
alembic = "*"
psycopg2-binary = "*"
websockets = "*"
pydantic = "*"
simplejson = "*"

[requires]
python_version = "3.9"
